
// Main colors
  $primary: #287bff;
  $secondary: #fff;
  $gray: #f5f5f5;
  $black1: #222;
  $black2: #999;
  // Second colors
  $main-second: #778da9;
  // $border-second: #fe7f2d;
  // $secondary-second: #1b263b;
  // $gray: #f5f5f5;
  // $black1: #222;
  // $black2: #999;
  /* status */
  $successClr: #8de02c;
  $preventionClr: #f9ca3f;
  $dangerClr: #f00;
  $progressClr: #1795ce;

