.recentCustomers {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  background: $secondary;
  box-shadow: 0 7px 25px rgba(0,0,0,0.08);
  border-radius: 20px;
}
.recentCustomers .imgBox {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.recentCustomers .imgBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.recentCustomers table tr:hover {
  background: $primary;
  color: $secondary;
}
.recentCustomers table tr td {
  padding: 12px 10px;
  text-align: start;
}
.recentCustomers table tr td h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}
.recentCustomers table tr td h4 span {
  font-size: 14px;
  color: $black1;
}
.recentCustomers table tr:hover td h4 span {
  color: $secondary;
}
